@layout('layout/app')

@section('content')
<div class="d-flex justify-content-center min-vh-100 align-items-center">
  <h1 class="text-orange">Server Error. <strong>RUN!!!</strong></h1>
</div>
@endsection
